@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(247 254 231);
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.25s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
